<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.whatisjava.training">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".build_your_first_app.FirstActivity"
            android:label="@string/first">
        </activity>

        <activity
            android:name=".building_a_dynamic_ui_with_fragments.FragmentTestActivity"
            android:label="@string/fragment">
        </activity>
        <activity
            android:name=".saving_data.SqliteTestActivity"
            android:label="@string/sqlite">
        </activity>
        <activity android:name=".interacting_with_other_apps.ShareActivity">
            <!-- filter for sending text; accepts SENDTO action with sms URI schemes -->
            <intent-filter>
                <action android:name="android.intent.action.SENDTO"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="sms" />
                <data android:scheme="smsto" />
            </intent-filter>
            <!-- filter for sending text or images; accepts SEND action and text or image data -->
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="image/*"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>
    </application>

</manifest>